html, body, #root {
  height: 100%;
}


.footer-main-div{
    background-color: transparent;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center; /*dikeyde ortalawr*/
    justify-content: space-evenly;/* yatayda ortalar */
    gap: 20px 10px; /* İlk değer row-gap, ikinci değer column-gap */
    margin-top: 5px;
    border-radius: 6px;
}

.component-div{
    height: 40px;
}

.item{
    flex-basis: auto; /* default auto */
    margin: 5px;
    height: 70%;
    border-radius: 4px;
}

.left-item{
    left: auto;
}

.clear-btn{
    height: 70%;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    display: inline-block; 
    /*bunun sayesinde flex div içerisindeki button elemanlarının 
    yan yana gelmesi gibi bunu da yan yana gelmelerini sağlar */       
}

.clear-btn:hover{
    text-decoration:underline;
}


.my-text-style {
  font-weight: 500;        
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Yumuşak, modern yazı tipleri */
  font-size: 16px;
  line-height: 1.5;
  color: #000000;   
  letter-spacing: 0.02em;    /* Hafif boşluk */
  text-rendering: optimizeLegibility; /* Daha pürüzsüz metin */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
