body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('./components/images/photo_2025-05-17_19-53-26.jpg');
    background-size: cover;   /* resmi alanı kaplayacak şekilde büyütür */
  background-position: center; /* ortalar */
  
    padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
